.jqvi {
	font-family: 'Lucida Console', Monaco, monospace;;
	overflow: auto;
	min-height: 300px;
	min-width: 500px;
	position: relative;
	margin: 0;
}

.jqvi #viWindow p {
	white-space: pre;
	min-width: 1em;
	min-height: 1em;
}

.jqvi.black {
	background: #000;
	color: #FFF;	
}

.jqvi:focus {
	outline: none;
}

.jqvi .selected {
	display: inline-block;
	background: #FFF;
	height: 1em;
	width: 10px;
	vertical-align: top;
}

.jqcmd .output ul li, .output ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 3px;
}

.jqcmd .padleft { 
	padding-left: 10px;
	width: 100px;
	display: inline-block;
}


/* Blinker animation */

.jqvi #viPointer, .selected {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;   
}

@-webkit-keyframes 'blink' {
    0% { background: #FFF; }
    50% { background: #000; }
}
.jqvi .before, .jqvi .after, .jqvi .selected {
	display: inline-block;
	white-space: pre;
}

.jqvi .output ul li, .output ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 3px;
}

.jqvi .padleft { 
	padding-left: 10px;
	width: 100px;
	display: inline-block;
}

/* VI DISPLAY */
.jqvi #bottomBar {
	position: fixed;
	bottom: 0;
	height: 1em;
	width: 100%;
	padding: 1em 0 1em 0;
	background: #000;
	margin: 0;
}
.jqvi #bottomBar li {
	list-style: none;
	display: inline-block;
}
.jqvi #bottomBar li:not(:last-child):not(:first-child) {
	float: right;
	margin-right: 250px;
}
.jqvi #bottomBar li:last-child {
	right: 10px;
	position: absolute;
}
.jqvi #viWindow {
	position: fixed;
	bottom: 2em;
	top: 0;
	right: 0;
	left: 0;
	word-wrap: break-word;
}
.jqvi #viWindow .empty {
	margin: 5px 0;
}
.jqvi #viWindow .current_line {
	margin: 0;
}
.jqvi #bottomBar #viInput.inputError {
	background: #F00;
}
